<div class="col-md-12">

<div class="panel panel-default m-b-md hidden-xs">
  <div class="panel-body">
    <h5 class="m-t-0">YAZARLAR</h5>

    <% @authors.each do |author| %>
    <hr>
      <% article = @articles.where(owner_id:author.id).last %>
        <% aprofile = @authorprofile.find_by(author_id:author.id) %>
          <% unless article == nil %>
           
             <%= image_tag aprofile.avatar.url(:avatar), class: "img-circle"%> 
             <strong><%= aprofile.first_name%> <%= aprofile.last_name%> </strong> 
              <h3><%= link_to article.title,category_article_path(article.category_id,article.id), class: "btn btn-primary-outline btn-md" %></h3>
             <p><%#= truncate article.text, lenght: 30 %></p>
          <% end %> <!-- unless end -->
    <% end %>
  
  </div>

 </div>
</div>