	<div class="container">

		<div class="row">
			<%=render'shared/navbar' %>
			<div class="col-md-12">
				<div class="row">
					<div class="panel panel-default">
						<table class="table ">
							<thead>
								<th>Image</th>
								<th>Title</th>
								<th>Text</th>
							</thead>

							<% @articles.each do |article| %>
							<tr>
								<td><%= image_tag article.image.url(:medium) %></td>
								<td><%= article.title %></td>
								<td><%= article.text %></td>

							</tr>
							<% end %>
						</table>
					</div>
				</div>

			</div>

		</div>
	</div>
