<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My First News Site</title>
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<!-- Custom styles for this template -->
	<link href="css/style.css" rel="stylesheet">
	<link href="css/lightbox.css" rel="stylesheet">
</head>

<body>
	<%=render'shared/navbar' %>
	





<footer>
	<div class="container">
     <div class="row">
     	<div clas="col-md-6 col-xs-12">
     		<ul>
             <li><a href="#">Gündem</a></li>
             <li><a href="#">Politika</a></li>
             <li><a href="#">Dünya</a></li>
             <li><a href="#">Ekonomi</a></li>
             <li><a href="#">Medya</a></li>
             <li><a href="#">Spor</a></li>
             <li><a href="#">Çevre</a></li>
             </ul>
        </div>
     	<div clas="col-md-6  col-xs-12">
     	<p>Copyright &copy; 2016 , All Rights Reserved Code2</p>

        </div>

     </div>
    </div>

</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="JavaScripts/bootstrap.js"></script>
    <script src="JavaScripts/lightbox.js"></script>

</body>

</html>
