body {

 background: rgb(255,255,255) !important;
}


footer{
    background:#333;
    padding: 20px;
}

footer li{
    float:left;
    padding: 10px 0 0 0;
    list-style: none;

}

footer a,p#copy{
   color:grey;
}

footer a:hover{
   color:#fff;
   list-style-type: none;
   text-decoration: none;
}


footer p{
    
    float:right;
    color:#fff;
    padding: 10px 10px 0 10px;
    

}

/* MEDIA QUERIES */

/*

@media(max-width: 991px ){
    .showcase-img{
     display: none;
    }
}

@media(min-width: 768px ) and (max-width: 990px){
.jumbotron img.app-btn{
    width: 30%;
    }
.jumbotron{ 
      width: 400px !important;
      background-size: 100% 100%;
}
.jumbotron h1{
margin-top: 10px;
}

}

@media(max-width: 768px ){
.jumbotron{ 
      width: 350px !important;
      background-size: 100% 100%;
}

.jumbotron h1{
margin-top: 10px;
}

}

@media(max-width: 500px ){
  
  .jumbotron{ 
      width: 450px !important;
      background-image: none;
      text-align: center;
   }    

   .jumbotron img.app-btn{
    width: 60%;
    margin: 0 auto 30px auto;
    display: block;    
    }*/

    section#feature ul li{
        font-size: 19px !important;
    }

    section#feature h2{
        padding-left: 40px;

    }
   footer p{
       float: none;
       text-align: center;
       padding-top: 20px;
   }
}


#photo{

    margin: 0;
    padding: 0;
   width:100%;
    height:550px;
    border: 1px solid yellow;
}

#lb{ /* grilik*/
    width:100%;
    height:330px;
}

/*#deneme{height:400;}
#row{height:300;}*/

#login{
 
    width: 50%;
    margin-left: 20%;
    
}
.jumbotron{
    width: 50%;
    margin-top: 50px;
    margin-left: 20%;}

.img-index{ 
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.sign-out{
    margin-top: 13px;
    margin-right: 10px;}
    .sign-out-link{
     transition: color 0.5s ease; color:#fff;}
    .sign-out-link:hover{text-decoration:none;
        color:grey;}
   .margin{ margin-top: 20px;margin-right: 15px;}

    .dropdown{background-color: #2fa4e9 ;}
    .dropdown:active{background-color: #2fa4e9 ;}
   .admin-islem ul.ddm{
       width: 50px;
       padding: 0;
       margin:0;
       border: 1px solid green;
       
       }
       .admin-islem ul.ddm:hover,.admin-islem ul.ddm:active{
       background-color: #2fa4e7 ; /*#menu mavi*/
       border: 1px solid yellow;
       
       }
       /*.dropdown a:hover{
           border: 3px solid red;
           background-color: #2fa4e7 ;
           color:purple;
       }*/



.new-image{
  
	width:270px;height: 200px;}

